Bus/lib/*
Bus/dist/*
Bus/bin/*
Bus/build/*

Mobile/lib/*
Mobile/libs/*
Mobile/gen/*
Mobile/tmp/*
Mobile/bin/*
Mobile/dist/*
Mobile/build/*
Mobile/gradle/*

Shared/lib/*
Shared/dist/*
Shared/bin/*

Web/lib/*

.idea/*
Mobile/.idea/*
Shared/.idea/*
Web/.settings/*

.gradle/*
gradle/*
build/*

*.class
/Mobile.iml
/T4Y.iml
/gradlew
/gradlew.bat
/import-summary.txt
/local.properties
/settings.gradle
