Bus/lib/*
Bus/dist/*
Bus/bin/*
Bus/build/*

Mobile/lib/*
Mobile/libs/*
Mobile/gen/*
Mobile/tmp/*
Mobile/bin/*
Mobile/dist/*
Mobile/build/*

Shared/lib/*
Shared/dist/*
Shared/build/*
Shared/bin/*

Web/lib/*
Web/bin/*

.idea/*
Mobile/.idea/*
Shared/.idea/*
Web/.settings/*
local.properties

.gradle/*
gradle/*
build/*

*.class
.DS_Store
/gradlew
/gradlew.bat
/import-summary.txt
